body {
    position: fixed;
    width: 100%;
}

.box{
    display: grid;
    margin: 10% 25%;
}

.box button{
    
    display: grid;
    width: 800px;
    background-image: linear-gradient(to right,orange,green);
    color: white;
    border: none;
    font-size: xx-large;
}